body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    box-shadow: 2px 1px 2px 2px gray;
    background-color: rgb(73, 222, 172);
    border-radius: 10px;
    min-height: 500px; 
    min-width: 500px;
    margin: 50px;
    width: 50vw;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.heading {
    text-align: center;
    font-size: 1em;
}

.test {
    font-size: 1.4rem;
}

input {
    width: 200px;
    height: 30px;
    margin: 20px;
    border: none;
    border-radius: 5px;
}

input:hover {
    border-bottom: solid gray 2px;
}

input:active {
    border: none;
}

button {
    background-color: rgb(59, 106, 236);
    border-radius: 8px;
    color: white;
    width: 100px;
    height: 30px;
    border: 1px solid red;
}