<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Play Ground</title>
</head>
<body class="box-border p-0 m-0">
    <!-- <h1 class="bg-gray-500 text-center flex flex-end">
        Hello World
    </h1> -->
    <!-- <h1 class="text-green-500">Hello</h1> -->

    <div class="flex flex-row justify-evenly m-20 text-indigo-50 flex-wrap w-1/2">
        <div class="bg-gray-500 p-10 text-center rounded-sm flex-none">Hello</div>
        <div class="bg-gray-500 p-10 text-center rounded-sm">World</div>
        <div class="bg-gray-500 p-10 text-center rounded-sm">Might</div>
        <div class="bg-gray-500 p-10 text-center rounded-sm">Guy</div>
    </div>
</body>
</html>