<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body class="box-border">
    <h1 class="bg-gray-800 text-stone-50 text-center m-5 border-5 border-green-50">Hello World</h1>
    <div class="flex items-center text-center flex-wrap bg-green-100">
        <div class="w-1/2">
            <a href="play-ground2.html">Play Ground 2</a>
        </div>
        <div class="w-1/2">
            <a href="play-ground3.html">Play Ground 3</a>
        </div>
    </div>
    <section class="m-20">
        <article>
            <img class="float-right w-100 h-70" src="https://t4.ftcdn.net/jpg/03/03/62/45/240_F_303624505_u0bFT1Rnoj8CMUSs8wMCwoKlnWlh5Jiq.jpg" alt="cat is looking something">
            <p class="h-70">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi corrupti harum est? Veniam optio consectetur dolores eaque asperiores. Quae ad itaque exercitationem natus at! Fugit dolorum molestiae a tempore doloremque.</p>
        </article>
    </section>
    <section class="m-20">
        <article>
            <img class="float-right w-20" src="https://t3.ftcdn.net/jpg/01/41/76/08/240_F_141760845_8jGGCqprLRNEM7kf4J3fyqIyZn2ot1Hr.jpg" alt="cat is greeting with hand">
            <img class="float-left" src="https://t4.ftcdn.net/jpg/02/23/55/67/240_F_223556761_6VamxuaG5aVcPJ1Kv9zjZw75tDtw9fy6.jpg" alt="cat is looking something">
            <p class="clear-end">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt maiores minus voluptatum iste consectetur, provident laudantium deleniti dicta eum debitis cupiditate laborum assumenda? Autem nesciunt quo sequi recusandae excepturi facere.</p>
        </article>
    </section>
    <section class="bg-green-300 sticky">
        <article>
            <img class="size-100 relative" src="https://t3.ftcdn.net/jpg/02/97/99/50/240_F_297995004_KIRJlI4JXoOGdnk6fj8NMTC9Xvt7b5Im.jpg" alt="cat is laying on the carpets">
        </article>
    </section>
     
</body>
</html>