<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/project1.css">
</head>
<body>
    <div class="main">
        <div class="heading"><h1>Welcome</h1></div>
        <div class="test">
            <ul>
                <li>What do you want to do today?</li>
            </ul>
        </div>
        <div class="text-edit">
            <textarea name="" id=""></textarea>
        </div>
        <button>Chat</button>
    </div>
</body>
</html>